
 <%- contentFor('body') %>
<div class=" text-center">
    <div class="container mt-2S">
        <div class="container ">
            <div class="col-md-12">    
                <div class="container col-md-12">
                    
                    <h4>Tech Shots mais votados!</h4>                

                    
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Título Tech Shots</h5>
                                    <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                                    <h6 class="card-title">Palestrante</h6>
                                    <p class="card-text">Quantidade de votos %.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Título Tech Shots</h5>
                                    <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                                    <h6 class="card-title">Palestrante</h6>
                                    <p class="card-text">Quantidade de votos %.</p>
                                </div>
                            </div>
                        </div>                        
                    </div>
                   
                     
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Título Tech Shots</h5>
                                    <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                                    <h6 class="card-title">Palestrante</h6>
                                    <p class="card-text">Quantidade de votos %.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Título Tech Shots</h5>
                                    <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                                    <h6 class="card-title">Palestrante</h6>
                                    <p class="card-text">Quantidade de votos %.</p>
                                </div>
                            </div>
                        </div>                        
                    </div>

                </div>            
            </div>  
        </div>
    </div>  
</div>